[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
django = "==4.1.3"
djecrety = "==1.0.15"
python-decouple = "==3.6"
sqlparse = "==0.4.3"
tzdata = "==2022.6"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
secret_key =  "py backend/manage.py djecrety -sd backend/ager"
migrations = "py backend/manage.py makemigrations"
migrate = "py backend/manage.py migrate"
start = "py backend/manage.py runserver"